In [16]:
import pandas as pd
import numpy as np

In [19]:
df=pd.read_csv('Student Depression Dataset.csv')

In [21]:
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0

In [22]:
df = df.drop(['id','Profession', 'Academic Pressure', 'Work Pressure', 'Job Satisfaction', 'Degree'], axis=1)

In [23]:
df.head()

,Gender,Age,City,CGPA,Study Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Male,33.0,Visakhapatnam,8.97,2.0,5-6 hours,Healthy,Yes,3.0,1.0,No,1
1,Female,24.0,Bangalore,5.90,5.0,5-6 hours,Moderate,No,3.0,2.0,Yes,0
2,Male,31.0,Srinagar,7.03,5.0,Less than 5 hours,Healthy,No,9.0,1.0,Yes,0
3,Female,28.0,Varanasi,5.59,2.0,7-8 hours,Moderate,Yes,4.0,5.0,Yes,1
4,Female,25.0,Jaipur,8.13,3.0,5-6 hours,Moderate,Yes,1.0,1.0,No,0

In [25]:
df['Depression'] = df['Depression'].replace([0, 1], ['Não', 'Sim'])

In [26]:
df.head()

,Gender,Age,City,CGPA,Study Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Male,33.0,Visakhapatnam,8.97,2.0,5-6 hours,Healthy,Yes,3.0,1.0,No,Sim
1,Female,24.0,Bangalore,5.90,5.0,5-6 hours,Moderate,No,3.0,2.0,Yes,Não
2,Male,31.0,Srinagar,7.03,5.0,Less than 5 hours,Healthy,No,9.0,1.0,Yes,Não
3,Female,28.0,Varanasi,5.59,2.0,7-8 hours,Moderate,Yes,4.0,5.0,Yes,Sim
4,Female,25.0,Jaipur,8.13,3.0,5-6 hours,Moderate,Yes,1.0,1.0,No,Não

In [27]:
df['Work/Study Hours'] = pd.to_numeric(df['Work/Study Hours'], errors='coerce').astype('Int64')

In [28]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce').astype('Int64')

In [29]:
df.head()

,Gender,Age,City,CGPA,Study Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Male,33,Visakhapatnam,8.97,2.0,5-6 hours,Healthy,Yes,3,1.0,No,Sim
1,Female,24,Bangalore,5.90,5.0,5-6 hours,Moderate,No,3,2.0,Yes,Não
2,Male,31,Srinagar,7.03,5.0,Less than 5 hours,Healthy,No,9,1.0,Yes,Não
3,Female,28,Varanasi,5.59,2.0,7-8 hours,Moderate,Yes,4,5.0,Yes,Sim
4,Female,25,Jaipur,8.13,3.0,5-6 hours,Moderate,Yes,1,1.0,No,Não

In [33]:
media_idade_depressivos = df.loc[df['Depression'] == 'Sim', 'Age'].mean()

In [34]:
media_idade_nao_depressivos = df.loc[df['Depression'] == 'Não', 'Age'].mean()

In [35]:
print(f"Média de idade dos estudantes depressivos: {media_idade_depressivos:.2f}")
print(f"Média de idade dos estudantes não depressivos: {media_idade_nao_depressivos:.2f}")

Média de idade dos estudantes depressivos: 24.89
Média de idade dos estudantes não depressivos: 27.14

In [36]:
prevalencia_por_genero = df.groupby('Gender')['Depression'].value_counts(normalize=True).unstack().fillna(0)

In [37]:
print(prevalencia_por_genero)

Depression       Não       Sim
Gender
Female      0.415493  0.584507
Male        0.413713  0.586287

In [39]:
cross_tab = pd.crosstab(df['Family History of Mental Illness'], df['Have you ever had suicidal thoughts ?'])
print("Tabela de Contingência:\n", cross_tab)

Tabela de Contingência:
 Have you ever had suicidal thoughts ?    No   Yes
Family History of Mental Illness
No                                     5463  8935
Yes                                    4782  8721

Calculo de proporção

In [45]:
import scipy.stats as stats

In [47]:
# Dados da tabela de contingência

dados = {
    'Have you ever had suicidal thoughts ?': ['No', 'Yes'],
    'No': [5463, 8935],
    'Yes': [4782, 8721]}

In [48]:
df = pd.DataFrame(dados).set_index('Have you ever had suicidal thoughts ?')

In [50]:
# 1. Cálculo de Proporções/Porcentagens

total_sem_historico = df.loc['No'].sum()
total_com_historico = df.loc['Yes'].sum()

In [51]:
porcentagem_pensamentos_sem_historico = (df.loc['No', 'Yes'] / total_sem_historico) * 100
porcentagem_pensamentos_com_historico = (df.loc['Yes', 'Yes'] / total_com_historico) * 100

In [52]:
print(f"Porcentagem com pensamentos suicidas (Sem Histórico): {porcentagem_pensamentos_sem_historico:.2f}%")
print(f"Porcentagem com pensamentos suicidas (Com Histórico): {porcentagem_pensamentos_com_historico:.2f}%")

Porcentagem com pensamentos suicidas (Sem Histórico): 46.68%
Porcentagem com pensamentos suicidas (Com Histórico): 49.39%

In [53]:
# 2. Teste Qui-Quadrado

chi2, p, dof, expected = stats.chi2_contingency(df)
print(f"\nTeste Qui-Quadrado:\nChi2: {chi2:.2f}, p-valor: {p:.4f}")

Teste Qui-Quadrado:
Chi2: 19.06, p-valor: 0.0000

In [54]:
# 3. Razão de Chances (Odds Ratio)

odds_sem_historico = df.loc['No', 'Yes'] / df.loc['No', 'No']
odds_com_historico = df.loc['Yes', 'Yes'] / df.loc['Yes', 'No']
odds_ratio = odds_com_historico / odds_sem_historico

In [55]:
print(f"\nRazão de Chances (Odds Ratio): {odds_ratio:.2f}")

Razão de Chances (Odds Ratio): 1.12

In [56]:
# Interpretação dos resultados

if p < 0.05:
    print("\nAssociação estatisticamente significativa encontrada.")
else:
    print("\nNenhuma associação estatisticamente significativa encontrada.")

if odds_ratio > 1:
    print("O histórico familiar aumenta a chance de pensamentos suicidas.")
else:
    print("O histórico familiar não aumenta a chance de pensamentos suicidas.")

Associação estatisticamente significativa encontrada.
O histórico familiar aumenta a chance de pensamentos suicidas.